@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}
.nav {
  position: relative;
  background-color: rgb(17, 16, 16);
  box-shadow: 4px 4px 4px red;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}
.about {
  position: relative;
  background-color: black;
  height: 400px;
  width: 700px;
  color: rgb(209, 247, 247);
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 28px;
  padding: 30px;
  margin: 50px;
}
.all-about-me {
  margin: 20px;
  color: rgb(169, 180, 180);
  height: 60px;
  font-size: 100px;
  font-family: fantasy;
}
.collaborate {
  color: rgb(148, 148, 148);
  font-size: 90px;
  font-family: cursive;
  text-shadow: 2px 2px 4px rgb(8, 8, 8);
}
