@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.logos-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.489);
  border-radius: 10px;
}
.logos {
  height: 100px;
}
.project h3:hover {
  text-shadow: 4px 4px 8px rgb(177, 177, 177);
}
.contact-list h3:hover {
  text-shadow: 6px 6px 8px rgb(204, 1, 1);
}
.project-link:hover {
  text-shadow: 4px 4px 8px rgb(177, 177, 177);
}
.contact-name {
  padding-top: 20px;
}

.nav {
  border-bottom: 8px solid red;
  background-color: rgb(17, 16, 16);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.about-bottom-banner {
  color: rgb(246, 247, 248);
  font-size: 6vw;
  font-family: cursive;
  text-align: center;
  margin-top: -10px;
}
.projects-container {
  position: relative;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.795);
  color: rgb(209, 247, 247);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
}
.link {
  color: blue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.project h3 {
  font-size: 2.5vw;
  color: rgb(252, 252, 252);
  text-shadow: 4px 4px 8px rgb(255, 0, 0);
}
.project-link {
  font-size: 2.5vw;
  color: rgb(252, 252, 252);
  text-shadow: 4px 4px 8px rgb(255, 0, 0);
}
.project p {
  font-size: 1.2vw;
  margin-bottom: 20px;
}
.projects-banner {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  color: rgb(223, 230, 230);
  text-shadow: 3px 3px 6px red;
  font-size: 3vw;
  font-family: fantasy;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.795);
}

.about-banner {
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  color: rgb(223, 230, 230);
  text-shadow: 3px 3px 6px red;
  font-size: 4vw;
  font-family: fantasy;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.795);
}

.contact {
  position: relative;
}
.home {
  position: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  color: aliceblue;
}
.contact-list {
  color: aliceblue;
  margin: 40px 20px 10px 40px;
}
.contact-banner {
  padding-top: 10px;
  color: aliceblue;
  font-size: 4vw;
  text-align: center;
}
.icons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 20px;
  padding-left: 15px;
}

.main-about {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-face-pic {
  position: relative;
  height: 15rem;
  margin-right: 10px;
  border: 6px solid whitesmoke;
  box-shadow: 6px 6px 12px red;
}
.about-pic-and-paragraph {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-paragraph {
  position: relative;
  width: 60%;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.568);
  color: rgb(209, 247, 247);
  border-radius: 40px;
  font-size: 1.5vw;
}
.about-paragraph h5 {
  margin-bottom: 10px;
}

@media screen and (max-width: 980px) {
  .about-pic-and-paragraph {
    display: flex;
    flex-direction: column;
  }
  .about-face-pic {
    margin-bottom: 25px;
    height: 12rem;
  }
  .about-banner {
    font-size: 8vw;
    padding: 15px;
    margin-bottom: -5px;
    border-radius: 10px;
  }
  .about-paragraph {
    width: 90%;
    font-size: 4vw;
    padding: 15px;
    border-radius: 10px;
  }
  .about-bottom-banner {
    font-size: 8vw;
  }
  .projects-banner {
    border-radius: 5px;
    font-size: 8vw;
  }
  .project h3 {
    font-size: 8vw;
  }
  .project p {
    font-size: 3.5vw;
    margin-bottom: 20px;
  }
  .about-page {
    flex-direction: column;
    margin-top: 10px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-name {
    margin-bottom: 20px;
  }
  .contact-list {
    margin: 50px 0 50px 10px;
  }
  .contact-banner {
    font-size: 5vw;
  }
}
