@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}
.nav {
  border-bottom: 8px solid red;
  background-color: rgb(17, 16, 16);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}

.collaborate {
  color: rgb(246, 247, 248);
  font-size: 2rem;
  font-family: cursive;
  text-align: center;
}
.projects {
  position: relative;
  background-color: rgba(0, 0, 0, 0.795);
  width: 900px;
  color: rgb(209, 247, 247);
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}
.link {
  color: blue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.projects h3 {
  font-size: 4vw;
  color: rgb(252, 252, 252);
  text-shadow: 4px 4px 8px rgb(255, 0, 0);
}

.margin {
  margin: 10px;
}
.margin a {
  color: blue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.contact {
  position: relative;
}
.home {
  position: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  color: aliceblue;
}
.list {
  color: aliceblue;
  margin: 40px 20px 10px 40px;
}
.push {
  color: aliceblue;
  font-size: 1.2rem;
  text-align: center;
}
.icons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}
.face {
  position: relative;
  height: 6rem;
  margin-right: 10px;
  border: 6px solid whitesmoke;
  box-shadow: 6px 6px 12px red;
}
.about-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about {
  position: relative;
  background-color: black;
  color: rgb(209, 247, 247);
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  padding: 10px;
}
.all-about-me {
  margin: 20px;
  color: rgb(223, 230, 230);
  text-shadow: 3px 3px 6px red;
  font-size: 2rem;
  font-family: fantasy;
  text-align: center;
}
